$primary-colour:rgb(40, 35, 187);

.homenavbar {
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    width: 100%;

    a button {
        color: $primary-colour;
        cursor: pointer;
    }
} 