@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family:'Playfair Display', serif;
}

.homenavbar{
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}

.hometag{
    font-style: bold;
    text-align: center;
    width: 140px;
    height: 180px;
    border-radius: 0;
}

.homeheader h1{
    margin: 0rem, 0rem, 3rem, 0rem;
    color: black;
    font-size: 174px;
}

/* Backrounds (transicions, hover, mediaqueries) */

.indexbox{
    background: radial-gradient(circle, blueviolet, pink, navy);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.creatorsbox{
    background: linear-gradient(to bottom, black,rgb(211, 0, 0), rgb(255, 119, 119));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.filmsbox{
    background-image: url(images/filmsPictures/4484604.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.musicbox{
    background-image: url(images/musicPictures/musicblur.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.culturebox{
    background-image:url(images/culturePictures/backroundculture.png) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.tvseriesbox{
    background-image: url(images/tvSeriesImages/image.png) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* footer */

.pie-pagina{
    width: 100%;
    background-color: #000000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 110px;
}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-2{
    background-color: #0a0a0a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}